.bannerImage {
  display: flex;
}
.headerNav {
  height: 4rem;
  background-color: #2c427a;
  display: flex;
  align-items: center;
  padding-left: 15rem;
  padding-right: 15rem;
  justify-content: space-between;
}
ul {
  gap: 1rem;
  cursor: pointer;
  display: flex;
  color: white;
}

.banner {
  width: 100%;
  position: relative;
}

.logotce {
  position: absolute;
  top: 50px;
  left: 15rem;
  max-width: 30rem;
}

.nav {
  display: flex;
  flex-direction: column;
}

.localizador input {
  border-radius: 3px;
  width: 100%;
  height: 2rem;
}
.localizador {
  display: flex;
  gap: 1rem;
}

.buttonLocalizar {
  border-radius: 0.5rem;
  height: 2rem;
  margin-top: 3px;
  cursor: pointer;
  background-color: white;
  color: #3b59a4;
}

.buscas p {
  font-size: 12px;
}

.outrasOpcoes {
  display: flex;
  /* align-content: space-between; */
}
/* ===========================================================  Mobile Styles ========================================================== */
/* Estilos específicos para dispositivos móveis */
@media only screen and (max-width: 990px) {
  .banner {
    width: 100%;
    position: relative;
  }

  .logotce {
    position: absolute;
    top: 10px;
    left: 1rem;
    max-width: 7rem;
  }

  .headerNav {
    height: 4rem;
    background-color: #2c427a;
    display: flex;
    align-content: start;
    padding-left: 1.5rem;
    padding-right: 0;
  }

  .menuNav {
    cursor: pointer;
    color: white;
    white-space: nowrap;
  }
  .menuNav span {
    gap: 2rem;
  }

  .localizador {
    display: none;
  }

  .buscas p {
    font-size: 12px;
    white-space: nowrap;
  }
}
