* {
  margin: 0;
  font-family: 'Merriweather', serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Content {
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

@media only screen and (max-width: 990px) {
  .Content {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
  }
}
